*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

footer{
  background: #fff;
  color: #000;
  width: 100%;
}

.container-footer-all{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-body{
  display: flex;
  justify-content: space-between;
}

.colum1{
  max-width: 400px;
}

.colum1 h1{
  font-size: 20px;
}

.colum1 p{
  font-size: 14px;
  margin-top: 20px;
}

.colum2{
  max-width: 400px;
}

.colum2 h1{
  font-size: 22px;
}

.colum2 .row{
  margin-top: 20px;
  display: flex;
}

.colum2 .row label{
  margin-top: 10px;
  margin-left: 20px;
}

.colum3{
  max-width: 400px;
}

.colum3 h1{
  font-size: 22px;
}

.row2{
  margin-top: 20px;
  display: flex;
}

.row2 label{
  margin-left: 20px;
  margin-top: 10px;
}

.container-footer{
  width: 100%;
  background: #eaeaea;
  display: flex;
  padding: 40px;
  justify-content: center;
}

.copy a{
  text-decoration: none;
}


/* Responsive*/
@media screen and (max-width:1100px){
  .container-body{
    display: block;
  }
  .colum2, .colum3{
    padding-top: 40px;
  }
}
