*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

footer{
  background: #202020;
  color: #fff;
  width: 100%;
}

.container-footer-all{
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.container-body{
  display: flex;
}

.colum1{
  max-width: 400px;
}

.colum1 h1{
  font-size: 20px;
}

.colum1 p{
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;
}
